DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME"

NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

ABACUSAI_API_KEY=""
WEB_APP_ID=""
NOTIF_ID_BOOKING_CONFIRMATION=""
NOTIF_ID_CONTACT_FORM_SUBMISSION=""

STRIPE_TCB_SECRET_KEY=""
STRIPE_TCB_WEBHOOK_SECRET=""
STRIPE_CASH_FLOW_SECRET_KEY=""
STRIPE_CASH_FLOW_WEBHOOK_SECRET=""
